In [1]:
import numpy as np
import pandas as pd
import sqlite3
import glob

In [2]:
dbfiles = glob.glob('*10yrs.db')

In [3]:

q = 'select count(night) from observations where note like "DD%";'
q2 = 'select count(night) from observations;'

result = []

for dbfile in dbfiles:
    con = sqlite3.connect(dbfile)
    r1 = pd.read_sql(q, con)
    r2 = pd.read_sql(q2, con)
    con.close()
    result.append( (np.max(r1.values),np.max(r2.values),dbfile) )

In [4]:
result

[(122311, 2077678, 'ddf_frac_sl300_v2.2_10yrs.db'),
 (97407, 2077769, 'ddf_frac_sl243_v2.2_10yrs.db'),
 (103541, 2077660, 'ddf_frac_sl257_v2.2_10yrs.db'),
 (92679, 2078224, 'ddf_frac_sl229_v2.2_10yrs.db'),
 (113129, 2078065, 'ddf_frac_sl286_v2.2_10yrs.db'),
 (109718, 2078135, 'ddf_frac_sl272_v2.2_10yrs.db')]

In [5]:
r1.values

array([[109718]])

In [6]:
r2

   count(night)
0       2078135

In [7]:
res = pd.DataFrame(result)

In [8]:
res

        0        1                             2
0  122311  2077678  ddf_frac_sl300_v2.2_10yrs.db
1   97407  2077769  ddf_frac_sl243_v2.2_10yrs.db
2  103541  2077660  ddf_frac_sl257_v2.2_10yrs.db
3   92679  2078224  ddf_frac_sl229_v2.2_10yrs.db
4  113129  2078065  ddf_frac_sl286_v2.2_10yrs.db
5  109718  2078135  ddf_frac_sl272_v2.2_10yrs.db

In [9]:
res[0]/res[1]

0    0.058869
1    0.046881
2    0.049835
3    0.044595
4    0.054440
5    0.052796
dtype: float64

In [12]:
slope = (.052796-0.049835)/(272-257)

In [13]:
slope

0.00019740000000000035

In [15]:
(0.05-0.049835)/slope

0.8358662613982023

In [ ]:
# looks like setting to 258 should hit it on the dot.